p{
    color:#a67979;
    font-size: 12px;;
}
.arc_prj_selected {
    background-color: lightblue; /* Example for highlighting selected project */
}
#description{
    font-size: 9px;
}

.display_arc {
    transition: opacity 0.5s ease-in-out;
}

.project-content {
    opacity: 0;
}
.archiveContainer{
    flex:0.9;
    padding-right: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 10%;
    padding-top: 5%;
    color:#a67979;
}
.display_arc{
    display: none;
}
.category_a{
    display: none;
    margin: 12px;
    position: absolute;
    left:60%;
}
.arc_prj{
    pointer-events: auto;
    display: flex;
    overflow-x:hidden;
    justify-content: space-between;
    font-size: 12px;
    color:#a67979;
    padding:0 1rem 0 1rem;
    border-bottom-style: solid;
    border-color: #c6b1b1;
    border-width: 0.1px;
    margin:0;
    background-color: aliceblue;
}
.mainpage{
    border-top: #dab0b0 solid;
    background-color: aliceblue;
    z-index: 10;
    overflow-x: hidden;
}

.project-content {
    opacity: 0; /* Initially hidden */
    transition: opacity 1s; /* Smooth transition for the opacity */
}
#description {
    font-size: 11px;
    padding-bottom: 5px;
}
.project-content p{
    font-size: 12px;
    margin:0;
    padding-top: 5px;
}
.divider{
    margin-bottom: 10px;
}
[class^="mobile_display"]{
    background-color: #fcf2f2;
    padding:3%;
    display: none;
}
.prj_img {
    width: 100%;
    display: flex;
    min-height: 300px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* If you want images to wrap to next line on overflow */
}

.prj_img img {
    max-width: 100%;
    height: auto;
    margin: 10px; /* Spacing between images */
}
.subject {
    color:#775656;
}
.text{
    display: flex;
}
.col{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media screen and (min-width: 700px) {
    p{
        color:#a67979;
        font-size: 12px;;
    }
.menu img{
    display: none;
}
/* body{
    overflow: hidden;
    color:#a67979;
} */
body{
    overflow-y:auto;
}
hr{
    display: block;
    position: relative;
}
.head{
    padding-bottom: 0;
}

.mainpage{
    pointer-events: auto;
    display: flex;
    position:relative;
    left:0;
    top:8%;
    width:100vw;
    z-index: 10;
    margin:0;
    background-color: aliceblue
}
pre{
    color:#775656;
}
.archiveContainer{
    flex:0.8;
    padding-right: 0;
    margin:0;
    overflow-x: hidden;
    padding-bottom: 10%;
}
.display_arc{
    flex: 1.2;
    border-left-style: solid;
    border-color: #c6b1b1;
    border-width: 0.1px;
    height: 120vh;
    background: #F8F2F2;
    z-index: 10;
    margin:0;
    display: flex;
    flex-direction: column; /* To layout children vertically */
    padding: 2rem;
    padding-top: 1%;
    padding-bottom: 10%;
}
.project-content {
    opacity: 0; /* Initially hidden */
    transition: opacity 1s; /* Smooth transition for the opacity */
}
#description {
    font-size: 11px;
    padding-bottom: 5px;
}
.project-content p{
    font-size: 12px;
    margin:0;
    padding-top: 5px;
}
.divider{
    margin-bottom: 10px;
}
.prj_img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* If you want images to wrap to next line on overflow */
}

.prj_img img {
    max-width: 100%;
    height: auto;
    margin: 10px; /* Spacing between images */
}
.subject {
    color:#775656;
}
.text{
    display: flex;
}
.col{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.arc_prj{
    pointer-events: auto;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color:#a67979;
    padding:0 1rem 0 1rem;
    border-bottom-style: solid;
    border-color: #c6b1b1;
    border-width: 0.1px;
    margin:0;
    background-color: aliceblue;
}
.arc_prj:hover, .arc_prj_selected{
    background-color: #f3d5d5;
    transition: background-color 0.3s ease;
}

.category_a{
    display: none;
    margin: 12px;
    position: absolute;
    left:25%;
}
.arc_prj p{
    margin:5px;
}


#upline{
    display: block;
    color:rgba(194, 168, 168, 0.2);
    border-color:rgba(194, 168, 168, 0.25) ;
    position: fixed;
    width:100vw;
    z-index: 100;
    top:7%;

}

#disable-overlay {
    display: none; /* Initially hidden */
    position: fixed;
    top: 8%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(246, 191, 191, 0.95);
    color: white;
    text-align: center;
    z-index: 9999;
    padding-top: 40px;
}
#disable-overlay p{
    position: absolute;
    top:40%;
    left:5%;
}
.index_img{
    padding-top: 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
}
.index{
    align-self: flex-start;
    width:30%; /* Allows the container to take 30% width and grow or shrink if necessary */
    margin: 10px;
    margin-bottom: 40px;
    box-sizing: border-box;
    max-height: 150px;
    object-fit: contain;
    transition: filter 1s ease, transform 1s ease;
}
.index {
    transition: filter 1s ease, transform 1s ease;
}

.index:hover {
    transform: scale(1); /* Slight zoom-in effect */
}

.grayscale {
    filter: grayscale(100%);
    opacity:0.5;
    transition: filter 1s ease, opacity 1s ease;
}


}
@media screen and (min-width:1048px){
    .category_a{
        display: block;
        margin: 12px;
        position: absolute;
        left:25%;
    }
}
