@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap');
body{
    background: #F8F2F2;
    color:#555151;
    font-family: "input-mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.backdrop-div{
    background: #F8F2F2;
    opacity: 1;
    backdrop-filter: blur(10px); 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: inherit;
    height: 8%;
    z-index: 0;
  }
.head{
    width: 100%-10px;
    top:0;
    left:0;
    right:0;
    display: flex;
    padding: 5px;
    justify-content: space-between; /* Distribute items evenly and justify them */
    align-items: center; 
    position: fixed;
    font-size: 20px;
    z-index: 1;
}
a{
    text-decoration: none;
}
#about{
    font-family: "Libre Barcode 128 Text";
    font-size: 32px;
}
.head img{
    width: 20%;
}
.opening{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.desktop{
    display: none;
}
ul{
    list-style: none;
}
.projectContainer{
    margin-top: 5rem;
}
.project{
    width:100%;
    margin-bottom: 30px;
}
.project img{
    width:100%;
    height: auto;
}
.caption{
    margin-top: 5px;
    margin-bottom: 0;
    color: #555151;
    font-size: 16px;
}
.border{
    text-align: center;
    color: #dababa;
    margin:0;
    font-size: 10px;
}
.category{
    margin-top: 0;
    font-size: 12px;
    color: #a67979;
 
}
.nav{
    width: 100vw;
    height: 100vh;
    background-color: #f3d5d5;
    color:rgb(80, 20, 80);
    position: fixed;
    top: 100vh;
    left: 0; /* Start off-screen */
    transition: top 0.5s; /* Smooth transition for left property */
    z-index: 100;
}
.nav i{
    display: none;
}
.nav ul{
    padding-top: 2%;
    line-height: 5vh;
}
.star{
    display: none;
}
.fav{
    position:fixed;
    padding-left: 35vw;
    max-width:20%;
    z-index: 1;

}
@media screen and (min-width: 768px) {
    .fav{
        padding-left: 45vw;
        max-width:5%;
    }
    /* Desktop styles here */
    .head{
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
    .head img{
        width: 6%;
    }
    .projectContainer{
        /* -moz-column-width: 400px;
        -webkit-column-width: 400px;
        column-width: 400px; */
        /* justify-items: center; */
        padding:8%;
        padding-top: 5%;
        padding-left: 2%;
        /* padding-top: 30%; */
        display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-behavior: smooth;
    width: 130%; /* Adjust as needed */
    align-items:center;
    column-gap: 20px;
    }
    .scroll{
        overflow-x: auto;
        scroll-behavior: smooth;
    }
    .border{
        margin:0;
    }
    .project{

        transition: width 0.5s; 
        width: 100%; /* Adjusted width */
        margin-right: 100px; /* Space between items */
        
    }
    .caption{
        display: none;
    }
    .project:hover{
        z-index: 1;
        width: 120%; 
    }
    .project img{
        display: block;
        width:200%;
    }
    .project img:hover{
        box-shadow: 0px 0px 30px rgba(234, 168, 168, 0.5);  
    }
    .caption{
        font-size: 13px;
    }
    .category{
        display: none;
    }
    .star {
        display: block;
        position: absolute;
        color: #a67979;
        font-size: 20px;
        opacity: 0; 
        transition: opacity 0.5s, font-size 0.5s; 
    }
    .border{
        display: none;
    }
    .nav ul {
        column-count: 2; /* Create two columns */
        column-gap: 20px; /* Adjust the gap between columns */
        font-size: 13px;

    }
    .nav i{
        display:contents;
        margin-top: 0;
        margin-left: 10px;
        font-size: 12px;
        color: #a67979;
        text-align: right;
    }
    #homenav{
        top:70vh;
    }
    

  }