@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap');
@font-face {
    font-family: 'Elm';
    src: url('font/Elm-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Elm Mono';
    src: url('font/Elm-Mono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.clock {
    width: 300px;
    height: 100px;
    border: 3px solid #a67979;
    border-style: dotted;
    border-radius: 50%;
    position: relative;
    top:50px;
    left:11%;
    background: white;
    z-index: -30;
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform-origin: center center;
    transform: translateX(-20%);
    z-index: -30;
}

.hand {
    position: absolute;
    width: 20%;
    height: 6px;
    background: #333;
    top: 50%;
    left: 50%;
    transform-origin: 100%;
    transition: all 0.05s ease-in-out;
    transition-timing-function: cubic-bezier(0.4, 2.3, 0.3, 1);
}
.featuretab{
    display: none;
}


.hour-hand {
    height: 4px;
    background: #333;
    
}

.minute-hand {
    height: 4px;
    background: #9f6464;
}

.second-hand {
    height: 2px;
    width:30%;
    left:40%;
    background: red;
}
.center{
    position: absolute;
    top: 49%;
    left: 68%;
    width: 10px; 
    height: 10px;
    z-index: 20;
    border-radius: 50%;
    background-color: #d3b9b9;
}
* {
    /* cursor: url('font/no.ico'),pointer; */
}
body{
    background: #e9e9e9;
    color:#555151;
    font-family:"Elm Mono";
    font-weight: 400;
    font-style: normal;
}



/* #upline{
    color:rgba(194, 168, 168, 0.2);
    border-color:rgba(194, 168, 168, 0.25) ;
    position: fixed;
    width:100vw;
    z-index: 100;
    top:7%;
} */

.backdrop-div{
  }
  .self{
    display: none;
    
}
.head{
    width: 100%-10px;
    top:0;
    left: 5px;;
    right: 5px;
    display: flex;
    padding: 5px;
    justify-content: space-between; /* Distribute items evenly and justify them */
    align-items: center; 
    position: fixed;
    font-size: 16px;
    z-index: 100;
    backdrop-filter: blur(20px);
    background-color: rgba(235, 235, 235, 0.7);
    
}
a{
    text-decoration: none;
    color:#555151;
}
#about{
    font-family: "Libre Barcode 128 Text";
    font-size: 28px;
}
.head img{
    width: 15%;
}
.opening{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.desktop{
    display: none;
}
ul{
    list-style: none;
}
.projectContainer{
    margin-top: 5rem;
}
.projectContainer video{
       
    display: none;
    
}
.project{
    width:100%;
    margin-bottom: 30px;
    object-fit: cover;
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.project img{
    width:100%;
    height: auto;
    transition: filter 0.3s ease-in-out;
    
}
.caption{
    margin-top: 5px;
    margin-bottom: 0;
    color:#806464;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', sans-serif;
}
.caption, .category {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.project-info{
    display: flex;
    padding:0 0.3rem 0 0.3rem;
    justify-content: space-between;
    align-items: first baseline;
}
.border{
    text-align: center;
    color: #dababa;
    margin:0;
    font-size: 10px;
}
.category{
    margin-top: 0;
    font-size: 12px;
    color: #a67979;
    font-family: 'Franklin Gothic Medium', sans-serif;
 
}
.nav{
    width: 100vw;
    height: 100vh;
    background-color:#f1d2d2;
    position: fixed;
    top: 100vh;
    left: 0; /* Start off-screen */
    transition: top 0.5s; /* Smooth transition for left property */
    z-index: 100;
    
}
.nav i{
    display: none;
}
.nav ul{
    font-size: small;
    padding-top: 2%;
    line-height: 5vh;
}
.nav hr{
    border-color:#806464;
    border-width: 0.1px;
    margin:0;
    border:0.1;
}
.nav ul li{
    break-inside: avoid;
}
.nav span{
    font-family: 'Franklin Gothic Medium', sans-serif;
    display:contents;
    margin-top: 0;
    margin-left: 10px;
    font-size: 12px;
    color: #a67979;
    text-align: right;
    
}

.star{
    display: none;
}
.fav{
    position:fixed;
    padding-left: 35vw;
    max-width:15%;
    z-index: 1;

}
.menu{
    display: none;
}


@media screen and (min-width: 568px){
    .fav{
        display: none;
    }
    .menu{
        display: grid;
    }


}

    

@media screen and (min-width: 900px) {
    .caption{
        display: none;
    }
    body {
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;  /* Firefox */
        overflow-x: hidden;
        overflow-y: hidden;
    }
    #upline{
        display: none;
    }
    .fav{
        padding-left: 45vw;
        max-width:5%;
        display: none;
    }
    /* Desktop styles here */
    .head{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-bottom: 1rem;
        z-index: 0;
        
      }
      .head img{
          width: 6%;
          display: none;
      }

      .projectContainer {
        display: flex;
        opacity: 1;
        padding-left: 2%;
        transform: translateY(20px);
        transition: opacity 0.5s ease, transform 0.5s ease;
        flex-direction: row;
        flex-wrap: wrap;
        overflow-x: hidden;
        scroll-behavior: smooth;
        width: 100vw;
        height: 90vh;
        column-gap: 0px;
        margin-top: 0;
        pointer-events: none;
        justify-content: space-between;
        align-content: center;
        padding-bottom: 10vh;
        
    }
    .projectContainer.visible{
        opacity: 0;
        transform: translateY(0);
    }
    

    /* ::-webkit-scrollbar-thumb:hover {
        background: #dababa;
    } */

    
    .border {
        margin: 0;
    }
    .featuretab{
        display: block;
    }
    .featuretab:hover{
       text-decoration: underline;
       color:#9f6464
    }
    
    .project {
        display:block;
        transition: width 0.5s;
        max-width: 25%; 
        margin-right: 5%; 
        object-fit:cover;
        pointer-events: auto;
        margin-bottom: 0;
        transition: opacity 1s ease-out, transform 0.6s ease-out;
       
    }
    .project.visible{
        pointer-events: none;
    }
    .project:hover{
        text-decoration: none;
    }
    #show{
        font-size: 10pt;
    }
    .project-info{
        margin-top: -5px;
    }
    .caption{
        display: block;
        opacity: 0;
        padding-top: 0.5em;
        transition: 0.5s linear opacity;
    }
  
    .project img{
        cursor:url('font/no.ico'),auto;
        width: 100%;
        max-height: 25vh;
        object-fit: cover; /* Maintain aspect ratio */
        box-shadow: 0px 0px 0px rgb(255, 197, 197);  
        transition: box-shadow 0.5s;
        filter:sepia(0.5) saturate(20%) hue-rotate(310deg);
    }
    .project img:hover{
        filter: none;
        box-shadow: 0px 0px 30px rgb(209, 140, 140);  
    }
    .caption{
        font-size: 13px;
    }
    .category{
        display: inline-flex;
        opacity: 0;
        margin-top:0px;
        padding:0;
        transition: 0.5s linear opacity;
    }
    .star {
        display: block;
        position: absolute;
        color: #a67979;
        font-size: 20px;
        opacity: 0; 
        transition: opacity 0.5s, font-size 0.5s; 
    }
    .border{
        display: none;
    }
    .nav{
        display: flex;
        justify-content: center;
        width: 100vw;
        box-shadow: 10 px 10px 10px 10px rgb(185, 149, 149);
    }
    .nav_tag{
        display: block;
        background-color:#f1d2d2;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-top: -30px;
        border-radius: 2%;
    }
    .nav_tag p{
        margin-top: 2px;
        font-size: 18px;
        color: #333;
    }

    .nav ul {
        margin:0;
        width: 100vw;
        margin-top: 20px;
        margin-right:10px;
        column-gap: 5%;
        font-size: 13px;
        line-height: 23px;
        column-count: 3;
    }
    .nav li:hover{
        transition: background-color  0.5s;
        background-color: #c8c8c8;
        color:#dababa;
    }
    .nav a:hover{
        text-decoration: none;
    }
    .nav span{
        font-family: 'Franklin Gothic Medium', sans-serif;
        display:contents;
        margin-top: 0;
        margin-left: 10px;
        font-size: 12px;
        color: #a67979;
        text-align: right;
        
    }
    .mobile{
        display: none;
    }
    #homenav{
        top:70vh;
    }
    .introd{
        padding-top: 1rem;
        display: inline-flex;
    }
    .self{
        color:#a67979;
        font-size: 10px;
        padding-left: 2rem;
        display: block;
    }
    #archive{
        font-size: 12px;
    }
    .self p{
        margin:0;
    }

    .menu{
        display: grid;
        align-items: center;
        align-content: center;
        width: 60px;
        color:#a67979;
        height:7vh;
        transition: border 0.1s;
        cursor: url('font/no.ico');
    }
    .menu img{
        display: block;
        width: 50px;
    }
    .menu a{
        margin:0;
        padding:0;
        font-size: 11px;
        padding-left: 0.3rem;
        
    }
   
    a:hover{
        transition: text 0.5s;
        text-decoration: underline;
        cursor: url('font/no.ico'),default;
    }
    .clock-wrapper {
    background-color: aliceblue;
    padding: 20px;
    width: 100%;
    height: 20vh;
    border-radius: 10px;  
    position: absolute; 
    z-index: 10;   
    top: 80vh;
    display: flex;
    }
    .clock {
    width: 80%;
    height: 70%;
    border: 3px solid #a67979;
    border-style: dotted;
    border-radius: 50%;
    position: absolute;
    top:5%;
    left:10%;
    background: white;
    overflow: hidden;
    z-index: -30;
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform-origin: center center;
    transform: translateX(-20%);
    z-index: -30;
}

.hand {
    position: absolute;
    width: 8%;
    height: 6px;
    background: #333;
    top: 50%;
    left: 62%;
    transform-origin: 100%;
    transition: all 0.05s ease-in-out;
    transition-timing-function: cubic-bezier(0.4, 2.3, 0.3, 1);
}

.hour-hand {
    height: 6px;
    background: #333;
    
}

.minute-hand {
    height: 4px;
    background: #9f6464;
}

.second-hand {
    height: 2px;
    width:10%;
    left:60%;
    background: red;
}
.center{
    position: absolute;
    top: 49%;
    left: 69.5%;
    width: 10px; 
    height: 10px;
    z-index: 20;
    border-radius: 50%;
    background-color: #d3b9b9;
}
/* .center img{
    width: 100%;
} */

    

    

  }

@media screen and (min-width: 1000px) {
  .project{
    max-width: 15%;
  }  
  .clock-wrapper{
    top:80vh;
  }
}   