body{
    background: #e9e9e9;
    
}
.footer{
    font-family: 'Franklin Gothic Medium',sans-serif;
    display: flex;
    background-color: #f3d5d5;
    padding:10px;
    padding-top: 3rem;
    margin:0;
}
#top{
    font-family: Elm Mono;
    font-size: 15px;
}
.c2{
    padding-left: 10em;
}
.c2 p{
    padding-bottom: 10px;
}
.c2 ul{
    padding-left:0;
}
.c2 li{
    padding-bottom: 0.5rem;
    border-top: solid;
    display: inline-flex;
    margin-right: 20px;
}
.container{
    padding-top: 10%;
    width: 100%;
}
.container img, video{
    width: 100%;
    margin-top:-5px;
}
#upline{
    display: none;
}
.description{
    font-size: 16px;
    margin:0;
    background-color: rgba(240, 248, 255,0.85);
    padding:15px;
    position:flex;
    bottom:0;
}
.arrow{
    display: none;
}

.imagery{
    padding-bottom: 0%;
    overflow-y: auto;
}
.border{
    display: none;
}

.content{
    font-size: 12px;
    line-height: 14px;
    color: #a67979;
    margin:0;
    font-family: 'Franklin Gothic Medium', sans-serif;
}
hr{
    color: #a67979;
}
/* Style for Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    overflow: auto;
}

/* Style for Enlarged Image */
.modal-content {
    padding-top: 30vh;
    margin: auto;
    display: block;
    max-width: 100%;
    /* max-height: 80%; */
}

/* Style for Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #000;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

/* Style for Next and Prev buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}


/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* Position the "prev button" to the left */
.prev {
    left: 0;
}

/* On Hover of Buttons */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.imagery {
    display: block;
    opacity: 0; /* Initially hidden */
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.imagery.loaded {
    position:block;
    opacity: 1;
    transform: translateY(0);
    z-index: -100;
}

/* Staggered fade-in animation for images */
.lazy {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.7s ease, transform 0.7s ease;
}

.lazy.visible {
    opacity: 1;
    transform: translateY(0);
}

.lazy {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.lazy.loaded {
    opacity: 1;
}
.arrow {
    position: absolute;
    top: 0px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    font-size: 40px;
    cursor: pointer;
    transition: transform 0.3s ease; /* Smooth transition for rotation */
}

/* Class for when the arrow is rotated */
.arrow.rotated {
    transform: rotate(180deg); /* Rotate the arrow */
}
button {
    font-size: 14px;
    border: none;
    cursor: pointer;
    margin-top: -50px;
}
.mute-btn {

}
.unmute-btn {

}

@media screen and (min-width: 568px){
    .fav{
        display: none;
    }

}

@media screen and (min-width: 768px) {
    body{
        overflow: auto;
    }
    .head{
        z-index: 20;
    }

    .container{
        padding-top: 4%;
        padding-left: 0%;
        padding-bottom: 0;
        width: 100%;
        margin: 0;
        overflow: hidden;
    }
    .title{
        margin:0;
        font-size: 15px;
        padding-right: 5em;
    }
    .category{
        opacity: 1;
    }
    .type{
        font-size:13px;
    }
    .arrow{
        display: none;
    }
    .project-description{
        width: 40%;
        padding-left: 1rem;
    }
    .description{
        font-size: 13px;
        margin:0;
        left:0;
        width:100%;
        background-color: rgba(240, 248, 255,0.85);
        padding:20px;
        padding-left: 1rem;
        position:relative;
        top:8%;
        display: inline-flex;
        gap:20px;
    }
    .content{
        font-size: 12px;
        line-height: 15px;
        color: #a67979;
        margin:0;
    }
    .imagery{
        padding-bottom: 0%;
        overflow-y: auto;
    }
    .backdrop-div{
        opacity: 1;
    }
    .category{
        display: block;
    }
    .mobile{
        display: block;
    }
    .border{
        font-size: 20px;
        position: fixed;
        transform: rotate(-90deg);
        transform-origin: right top;
        top:60px;
        right:77vw;
        display: block;
    }
    .modal-content{
        padding-top: 5vh;
        max-width: 77%;
    }
    .to{
        position: absolute;
        bottom: 20%;
    }
    .fav{
        display: block;
    }
    .head img{
        width: 6%;
        display: block;
    }
    .footer{
        padding: 5em 2em 2em 2em;
        display: flex;
        justify-content: space-between;
    }
   
    .backdrop-div{
        border-bottom: #a67979;
    }
    #upline{
        color:rgba(194, 168, 168, 0.2);
        border-color:rgba(194, 168, 168, 0.25) ;
        position: fixed;
        width:100vw;
        z-index: 100;
        top:7%;

    }
    .c2 p{
        padding-bottom: 0px;
    }

    
    
}